/* Mooderia base styles */
:root {
  --theme-color: #46178f;
}

html, body, #root {
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fading-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.fading-scrollbar:hover {
  scrollbar-color: #cbd5e1 transparent;
}

